.fondo{
    background: #0D141C;
    color: whitesmoke;
    align-items: center;
    height: 100vh;
    padding: 4px;
    text-align: center;
    overflow-y: scroll;
}
.docs{
    overflow-y: scroll;
}

.texto{
    padding-left: 2%;
    text-align: center;
    margin-bottom: 2%;
  }
  