<app-navbar></app-navbar>
<div class="fondo">
    <div class="texto">
        <h2>Administración de documentos</h2>
    </div>
    <div class="list-group px-5 docs mt-2 justify-content-center" *ngIf="showItems">
        <a class="list-group-item list-group-item-action d-flex justify-content-between px-5 " *ngFor="let item of items" [routerLink]="['/showpdf', item.id]">
            {{item.nombre}}
            
            <div>
                <button type="button" class="btn btn-success mx-2" *ngIf="!item.aprobado" (click)="aprobarDocumento(item.id,1)">Aprobar</button>
                <button type="button" class="btn btn-danger" *ngIf="item.aprobado" (click)="aprobarDocumento(item.id,0)">Rechazar</button>
            </div>
        </a>
    </div>
</div>
