<app-navbar></app-navbar>
<div class="contab">
    <div class="about-section">
        <h1>Manual de uso de &reg; PIPEREPO</h1>
        <p>A continuacion presentamos todos los pasos necesarios para subir y ver un documento en &reg; PIPEREPO</p>
      </div>
      <br>
      <h2 style="text-align:center" id="title3">Pasos</h2>

      <div class="row cartas">
        <div class="column">
          <div class="card">
            <img src="../../assets/img/home.PNG" alt="Luis" style="width:100%" class="cropped">
            <div class="container">
              <h2>Paso 1</h2>
              <p class="title">Entrar a la pantalla de inicio HOME</p>
            </div>
          </div>
        </div>

        <div class="column">
            <div class="card">
              <img src="../../assets/img/login.PNG" alt="Luis" style="width:100%" class="cropped">
              <div class="container">
                <h2>Paso 2</h2>
                <p class="title">Hacer inicio de sesion</p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="../../assets/img/reg.PNG" alt="Luis" style="width:100%" class="cropped">
              <div class="container">
                <h2>Paso 3</h2>
                <p class="title">En caso de no estar registrado, regitrarse en &reg; PIPEREPO</p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="../../assets/img/aportacion.PNG" alt="Luis" style="width:100%" class="cropped">
              <div class="container">
                <h2>Paso 4</h2>
                <p class="title">Para subir un documento, hacer la aportacion correspondiente</p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="../../assets/img/docs.PNG" alt="Luis" style="width:100%" class="cropped">
              <div class="container">
                <h2>Paso 5</h2>
                <p class="title">Ver los documentos disponibles y seleccionar el que se desea ver</p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="../../assets/img/showdoc.PNG" alt="Luis" style="width:100%" class="cropped">
              <div class="container">
                <h2>Paso 6</h2>
                <p class="title">Aqui es donde se podra tanto observar como descargar el documento seleccionado</p>
              </div>
            </div>
          </div>

      </div>
</div>