<app-navbar></app-navbar>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<section id="uploadDocuments-form">
    <div class="container py-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-xl-10 ">
          <div class="container text-black container-form" style="background-color: whitesmoke">
            <!-- section 1 form -->
            <div class="row">
              <div class="col-lg-6">
                <div class="p-md-5 mx-md-4">
                  <div class="text-center">
                    <img src="assets/img/LogoRepo2NF.png"  alt="PipeRepo_logo">
                    <h4 class="mt-1 mb-5 pb-1">¡Haz tu aportacion!</h4>
                  </div>
                  <!-- Form -->
                  <form [formGroup]="subir" (ngSubmit)="uploadFile()" class="needs-validation" novalidate>
                    <div class="form-outline mb-2">
                      <label class="form-label text-secondary" for="nameDocument">Nombre del documento</label>
                      <input type="text" id="nameDocument" class="form-control" required formControlName="nombre"/>
                    </div>
<!-- 
                    <div class="form-outline mb-2">
                      <label class="form-label text-secondary" for="email">Categoria</label>
                      <div class="row d-flex justify-content-center mt-100">
                            <div class="col-md-6"> 
                                <select id="choices-multiple-remove-button" placeholder="Select upto 5 tags" multiple>
                                    <option value="HTML">HTML</option>
                                    <option value="Jquery">Jquery</option>
                                    <option value="CSS">CSS</option>
                                    <option value="Bootstrap 3">Bootstrap 3</option>
                                    <option value="Bootstrap 4">Bootstrap 4</option>
                                    <option value="Java">Java</option>
                                    <option value="Javascript">Javascript</option>
                                    <option value="Angular">Angular</option>
                                    <option value="Python">Python</option>
                                    <option value="Hybris">Hybris</option>
                                    <option value="SQL">SQL</option>
                                    <option value="NOSQL">NOSQL</option>
                                    <option value="NodeJS">NodeJS</option>
                                </select> 
                            </div>
                        </div>
                    </div> -->
                     <div class="form-outline mb-2">
                      <label class="form-label text-secondary" for="">Categoria</label>
                        <select class="form-control btn-dark" required formControlName="materia">
                            <option value="otro" selected>Elige una categoria</option>
                            <option value="matematicas">Matematicas</option>
                            <option value="biologia">Biologia</option>
                            <option value="quimica">Quimica</option>
                            <option value="geografia">Geografia</option>
                            <option value="lenguas">Lenguas</option>
                            <option value="ingenieria civil">Ingenieria civil</option>
                            <option value="electronica">Electronica</option>
                            <option value="informatica">Informatica</option>
                            <option value="medicina">Medicina</option>
                            <option value="deportes">Deportes</option>
                            <option value="leyes">Leyes</option>
                            <option value="social">Social</option>
                            <option value="artes">Artes</option>
                            <option value="cocina">Cocina</option>
                            <option value="electricidad">Electricidad</option>
                            <option value="robotica">Robotica</option>
                            <option value="cultural">Cultural</option>
                            <option value="historia">Historia</option>
                            <option value="diseño">Diseño</option>
                            <option value="tecnologia">Tecnologia</option>
                            <option value="agronomia">Agronomia</option>
                            <option value="veterinaria">Veterinaria</option>
                            <option value="otro">Otro</option>
                        </select>
                    </div>

                    <div class="form-outline mb-2">
                      <label class="form-label text-secondary" for="upFile">Subir archivo</label>
                      <div class="input-group mb-3">
                        <div class="custom-file">
                          <input type="file" id="inputGroupFile01" style="padding: 3px;" class="form-control" 
                          aria-describedby="inputGroupFileAddon01" required (change)="readFile($event)"
                          formControlName="ruta">
                        </div>
                      </div>
                    </div>


                    <!-- <select class="selectpicker">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </select> -->
                      
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Enviar solicitud</button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- section 2 text -->
              <div class="col-lg-6 rigth-img"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
