<app-navbar></app-navbar>
<div class="contab">
    <div class="about-section">
        <h1>Sobre Nosotros</h1>
        <h4>
          <p>&reg; PIPEREPO es un repositorio estudiantil donde nuestra idea principal es darle una segunda oportunidad ya sea a proyectos o trabajos para que le sirvan a quien lo necesita</p>
        </h4>
        <p>En muchas ocasiones, trabajos de buena calidad quedan en el olvido cuando pueden seguir siendo utiles para quie los necesita y de esta manera sean apovechados correctamente</p>
      </div>
      <br>
      <h2 style="text-align:center" id="title3">Equipo</h2>
      <div class="row cartas">
        <div class="column">
          <div class="card">
            <img src="../../assets/img/lf.PNG" alt="Luis" style="width:100%" class="cropped">
            <div class="container">
              <h2>Luis Felipe Velazquez</h2>
              <p class="title">CEO & Founder</p>
              <p>Creador del concepto &reg;PipeRepo <br>Developer</p>
              <p>correo</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../../assets/img/fd.PNG" alt="Fernando" style="width:100%" class="cropped">
            <div class="container">
              <h2>Fernando Didier Hernandez</h2>
              <p class="title">WEB Developer</p>
              <p>Diseñador del sitio web <br>Developer</p>
              <p>didihzmoli@gmail.com</p>
            </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="../../assets/img/cd.PNG" alt="John" style="width:100%" class="cropped">
            <div class="container">
              <h2>Cristopher Esparza Cuevas</h2>
              <p class="title">WEB Developer</p>
              <p>Diseñador del sitio web <br>Developer</p>
              <p>criizec@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="btny">
        <p class="col banner-btn">
          <a routerLink="/contact">Contactanos</a>
      </p>
      </div>
</div>

