<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #969841;"> <!-- style="background-color: #3a3b5a; #0b2640 #05192c -->
  <div class="container-fluid">
      <a class="disa" href="#"><img class="logo11" src="assets/img/LogoRepoNF.png" alt="Logo RepoPipe"></a>
      <img class="logo11 ena" src="assets/img/LogoRepoNF.png" alt="Logo RepoPipe">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" style="flex-grow: 0;" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto nabvar-home">
      <li class="nav-item">
        <a class="nav-link" href="#">Documentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/uploadDocuments">Aportacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">Acerca de</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!readLocalStorageValue()">Iniciar sesion</a>
      </li>
      <li class="nav-item dropdown"  *ngIf="readLocalStorageValue()">
        <a class="btn sesionDrop nav-link dropdown-toggle mr-md-2" data-toggle="dropdown" aria-expanded="true">
          {{ name }}
        </a>
        <div class="dropdown-menu dropdown-menu-md-right text-center" style="background-color: #071727;">
          <a class="dropdown-item sesionDropButton" style="color: rgb(196, 193, 193);" routerLink="/editProfile">Editar perfil</a>
          <div class="dropdown-divider"  style="border-color: #040a0f;"></div>
          <a class="dropdown-item sesionDropButton"  (click)="deleteLocalStorageValue()" style="cursor: pointer; color: rgb(196, 193, 193);">Cerrar sesion</a>
        </div>
      </li>
    </ul>
  </div>
  </div>    
</nav>