.logo11{
    width: 41%;
    height: auto;
}
.ena{
    display: none;
}
@media screen and (max-width: 650px) {
    .disa {
      display: none;
    }
    .ena{
        display: block;
    }
  }

  .nabvar-home{
    text-align: center;
  }

  .nabvar-home .nav-item{
    padding: 3px;
  }
  .nabvar-home .nav-link{
    border-radius: 8px;
    background-color:#979648 ;
    color: #d1d9cd;
  }

  .nabvar-home .nav-link:hover{
    background-color: rgba(255, 255, 0, 0.123);
    color: #2b2e2a;
  }

  .sesionDrop{
    background-color: #d39d31e8 !important;
  }
  .sesionDrop:hover{
    color: rgb(58, 56, 56) !important;
  }

  .sesionDropButton:hover{
    color: #d39d31e8 !important;
    background-color: #071727 !important;
  }


  /* #979648 */