#login-form{
    background: #0D141C;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.gradient-custom-2 {
    /* Chrome, Safari olders*/
    background: -webkit-linear-gradient(to right, #4B5320, #3C4411, #2D3502, #5A622F);
    /* Edge, Firefox, Chrome, Opera, Safari */
    background: linear-gradient(to right, #4B5320, #3C4411, #2D3502, #5A622F);
    border: none;
    height: fit-content;
}

#login-form .rigth-img{
    --opacidad-negro: 0.4;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url('src\assets\img\search.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 991px) {
    #login-form .rigth-img{
        display: none;
    }

    #login-form .container-form{
        border-radius: 20px;
    }
}
