.pdf{
  width:80%;
  height:700px;
  text-align: center;
}
.cont{
  text-align: center;
  padding-bottom: 2%;
}
#show-item{
  background: #0D141C;
  color: whitesmoke;
}
.texto{
  padding-left: 2%;
  text-align: center;
}
@media screen and (max-width: 650px) {
  .pdf {
    width: 100%;
  }
}

@media (min-height: 1008px) {
  #show-item{
      height: 100vh;
  }
}