<app-navbar></app-navbar>
<header>
    <div class="container">
        <div class="banner-text ">
            <div class="text-area">
                <span>R</span>
                <span>E</span>
                <span>P</span>
                <span>O</span>
                <span>S</span>
                <span>I</span>
                <span>T</span>
                <span>O</span>
                <span>R</span>
                <span>I</span>
                <span>O</span>
            </div>
            <div class="row justify-content-center">
                <p class="col-lg-8"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Vero expedita cumque corporis neque commodi tempore soluta facilis eligendi 
                    voluptas minima recusandae quod consectetur sit tempora sint nemo odio, animi velit.
                </p>
            </div>
            <p class="banner-btn">
                <a href="">Leer mas</a>
            </p>
        </div>
    </div>
</header>
