<app-navbar></app-navbar>
<body>
    <section class="container-fluid welcome">
        <div class="container"> 
            <div class="row banner-text">
                <div class="col text-area">
                    <span>R</span>
                    <span>E</span>
                    <span>P</span>
                    <span>O</span>
                    <span>S</span>
                    <span>I</span>
                    <span>T</span>
                    <span>O</span>
                    <span>R</span>
                    <span>I</span>
                    <span>O</span>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <div class="row info justify-content-center">
                        <p class="col-lg-8"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Vero expedita cumque corporis neque commodi tempore soluta facilis eligendi 
                            voluptas minima recusandae quod consectetur sit tempora sint nemo odio, animi velit.
                        </p>
                    </div>
                </div>
                <div class="w-100"></div>
                <p class="col banner-btn">
                    <a href="">Leer mas</a>
                </p>
            </div>
        </div>
    </section>
    <!-- <section class="section2">
        
    </section> -->
</body>
