.fondo{
    background: #0D141C;
    background-image: url("../../assets/img/glassesBookOriginal.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;	
    color: whitesmoke;
    align-items: center;
    height: 100vh;
    text-align: center;
    overflow-y: scroll;
}
.docs{
    width: 100%;
    opacity: 0.8;
}
.img1{
    height: 15%;
    width: 15%;
}
.mininav{
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

/* @media screen and (max-width: 768px){
  .img1{
    height: 5%;
    width: 5%;
  }
} */

  @media screen and (max-width: 768px) {
    .img1{
      height: 12%;
      width: 12%;
    }
    .mininav{
        display: block;
    }
  }
  @media screen and (min-width: 768px) {
    .docs a{
      min-height: 70px;
      max-height: 70px;
    }
  }

  @media screen and (max-width: 576px) {
    .img1{
      height: 5%;
      width: 5%;
    }
  }
  @media screen and (min-width: 1200px) {
    .docs a{
      min-height: 75px;
    }
  }
  
  /* .search1{
    width: 25%;
  } */

  /* Libros en un contenedor y darle max height */