<app-nabvar-login></app-nabvar-login>
<section id="register-form">
    <div class="container py-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-xl-10 ">
          <div class="container text-black container-form" style="background-color: whitesmoke">
            <!-- section 1 form -->
            <div class="row">
              <div class="col-lg-6">
                <div class="p-md-5 mx-md-4">
                  <div class="text-center">
                    <img src="assets/img/LogoRepo2NF.png"  alt="PipeRepo_logo">
                    <h4 class="mt-1 mb-5 pb-1">¡Registrate!</h4>
                  </div>
                  <!-- Form -->
                  <form [formGroup]="registro"  #userRegistro="ngForm" class="needs-validation" (ngSubmit)="enviarRegistro(userRegistro.value)" novalidate>
                    <div class="form-outline mb-2">
                      <label class="form-label text-secondary" for="user">Nombre de usuario</label>
                      <input type="text" id="user" class="form-control" required formControlName="nombre"/>
                    </div>

                    <div class="form-outline mb-2">
                      <label class="form-label text-secondary" for="email">Correo</label>
                      <input type="email" id="email" class="form-control" required formControlName="email"/>
                    </div>
  
                    <div class="form-outline mb-2">
                      <label class="form-label text-secondary" for="password">Contraseña</label>
                      <input type="password" id="password" required class="form-control" formControlName="password"/>
                    </div>

                    <div class="form-check mb-4">
                        <input type="checkbox" class="form-check-input" id="conditios" required>
                        <label class="text-secondary" for="conditios">Acepto los terminos y condiciones</label>
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" data-toggle="modal" data-target="#staticBackdrop">Crear cuenta</button>
                      <!-- <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Crear cuenta</button> -->
                    </div>
                  </form>
                  <!-- Modal 1-->
                  <div *ngIf="Correcto == true" class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog  modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">¡Perfil creado con exito!</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Ahora puedes iniciar sesion con tu nueva cuenta
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn gradient-custom-2" style="color: white;"  data-dismiss="modal" routerLink="/home">Aceptar</button>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <!-- Modal 2-->
                  <div *ngIf="Correcto == false" class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog  modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Ingreso de datos incorrectos</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          ¡Intenta de nuevo!
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn gradient-custom-2" style="color: white;"  data-dismiss="modal" >Aceptar</button>
                        </div>
                      </div>
                    </div>
                  </div> 
                  
                </div>
              </div>
              <!-- section 2 text -->
              <div class="col-lg-6 rigth-img"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>