<app-nabvar-login></app-nabvar-login>
<section class=" contb" id="login-form">
    <div class="container py-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-xl-10 ">
          <div class="container text-black container-form" style="background-color: whitesmoke">
            <!-- section 1 form -->
            <div class="row">
              <div class="col-lg-6">
                <div class="p-md-5 mx-md-4">
                  <div class="text-center">
                    <img src="assets/img/LogoRepo2NF.png"  alt="PipeRepo_logo">
                    <h4 class="mt-1 mb-5 pb-1">¡Registrate!</h4>
                  </div>
                  <!-- Form -->
                  <form [formGroup]="registro" (ngSubmit)="enviarRegistro()">
                    <div class="form-outline mb-2">
                      <label class="form-label text-secondary" for="user">Nombre de usuario</label>
                      <input type="text" id="user" class="form-control" formControlName="nombre"/>
                    </div>

                    <div class="form-outline mb-2">
                      <label class="form-label text-secondary" for="email">Correo</label>
                      <input type="email" id="email" class="form-control" formControlName="email"/>
                    </div>
  
                    <div class="form-outline mb-2">
                      <label class="form-label text-secondary" for="password">Contraseña</label>
                      <input type="password" id="password" class="form-control" formControlName="password"/>
                    </div>

                    <div class="form-check mb-4">
                        <input type="checkbox" class="form-check-input" id="conditios">
                        <label class="text-secondary" for="conditios">Acepto los terminos y condiciones</label>
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Crear cuenta</button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- section 2 text -->
              <div class="col-lg-6 rigth-img"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>